In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('AB_NYC_2019.csv') #make sure to have datafile in the same repository where you are runnning notebook

In [3]:
dataset.shape

(48895, 16)

In [4]:
dataset.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [5]:
dataset.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [6]:
dataset.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

### Q1: How many neighborhoods have more than 1000 listings on Airbnb?----> Answer: 13

### How many neighborhoods have more than 1000 hosts on Airbnb?-----> Answer: 13

In [7]:
dataset['neighbourhood'].nunique()

221

In [8]:
dataset['id'].nunique() #id is unique and there are no duplicates

48895

In [9]:
q1_df = dataset.groupby('neighbourhood').agg({'id': 'count'})

In [10]:
n_nbrs_gt_1000_list = q1_df[q1_df.id >1000].shape[0]

In [11]:
print('{} neighborhoods have more than 1000 listing on Airbnb'.format(n_nbrs_gt_1000_list))

13 neighborhoods have more than 1000 listing on Airbnb

In [12]:
dataset['host_id'].nunique() #host_id has some duplicates

37457

In [13]:
dataset.groupby('host_id').size().sort_values(ascending = False).head(10)

host_id
219517861    327
107434423    232
30283594     121
137358866    103
16098958      96
12243051      96
61391963      91
22541573      87
200380610     65
7503643       52
dtype: int64

In [14]:
q1_df_2 = dataset.groupby('neighbourhood').agg({'host_id': 'count'})
n_nbrs_gt_1000_host = q1_df_2[q1_df_2.host_id >1000].shape[0]
print('{} neighborhoods have more than 1000 host on Airbnb'.format(n_nbrs_gt_1000_host))

13 neighborhoods have more than 1000 host on Airbnb

### Q2: Find the average price of each neighborhood listing with both listing id and host_id greater than 1500?

In [15]:
q2_df = dataset[(dataset['id']>1500) & (dataset['host_id']>1500)]

In [16]:
q2_df = q2_df.groupby(['id', 'host_id']).agg({'price': 'mean'})

In [17]:
q2_df.head()

              price
id   host_id
2539 2787       149
2595 2845       225
3647 4632       150
3831 4869        89
5022 7192        80

### Q3: Find the host name who has the greatest number of listings in New York? ----> Answer: Michael

### For that host, how many listings of “private room” type does this host have?---> Answer: 2

In [18]:
q3_df = dataset.groupby('host_name').agg({'id': 'count'})

In [19]:
q3_df.sort_values(by='id', ascending=False).head(3)

               id
host_name
Michael       417
David         403
Sonder (NYC)  327

In [20]:
q3_df_2 = dataset[(dataset['host_name']=='Michael')].head()

In [21]:
q3_df_2.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
151,36121,Lg Rm in Historic Prospect Heights,62165,Michael,Brooklyn,Prospect Heights,40.67386,-73.96641,Private room,85,15,9,2013-05-10,0.09,1,339
412,138216,Sunny and Spacious Designer's Home,674970,Michael,Brooklyn,Greenpoint,40.72212,-73.94254,Entire home/apt,141,5,8,2018-07-08,0.21,1,9
519,189135,Hell's Kitchen Funky 80's Hideaway!,179020,Michael,Manhattan,Hell's Kitchen,40.76311,-73.99388,Private room,99,1,89,2019-07-01,1.00,1,353
616,233189,NYC Studio in Heart of Times Square,1220414,Michael,Manhattan,Hell's Kitchen,40.76166,-73.99675,Entire home/apt,179,30,83,2019-05-31,0.88,1,292
811,289037,"2BR in Cobble Hill, Brooklyn, NY",632334,Michael,Brooklyn,Carroll Gardens,40.68353,-73.99140,Entire home/apt,189,2,13,2016-09-05,0.18,1,0

In [22]:
q3_df_2[q3_df_2['room_type']=='Private room'].shape[0]

2

### Q4: Let’s define popularity of a listing as the total number_of_reviews for that listing. What are the three most popular listing (id and host_id) in each neighborhood group?

In [23]:
 q4_df = dataset.groupby(['id', 'host_id']).agg({'number_of_reviews': 'sum'})

In [24]:
q4_df.sort_values(by='number_of_reviews', ascending=False).head(3)

                  number_of_reviews
id      host_id
9145202 47621202                629
903972  4734398                 607
903947  4734398                 597